:root {
  --white: #FFFFFF;
  --sage-dark: #4A6D52;
  --sage: #9FB394;
  --blush: #FBDADA;
  --dusty-rose: #D79EA2;
  --mauve: #795D60;
  --deep-green: #0F181A;
  --forest: #3F5045;
  --green-muted: #657C64;
  --blue-gray: #7C8E93;
  --black: #000000;
}
